
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body{
     width: 100%;
     height: 100%;
     background-color: rgb(34, 39, 43);
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}
.logo{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 25px;
    box-sizing: border-box;

}
.logo h2{
    color: aliceblue;
    font-size: 30px;
    font-weight: 500;
    margin-left: 10px;
}
.main{
    width: 100%;
    min-height: calc(100vh - 80px);
    background-color: rgb(39, 49, 57);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
.style1{
    max-width: 500px;
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 30px;
    
}
.style2{
    max-width: 500px;
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
#loading{
    filter: drop-shadow(2px 2px 10px black);
    display: none;
}


.image{
    width: 300px;
    height: 300px;
    background-image: url("temp.jpeg");
    display: flex;
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}
.image1{
    width: 300px;
    animation: remove 15s linear infinite;
    overflow: hidden;
    border-radius: 10px;
}
#girl or{
    width: 300px;
}

.image2{
    width: 300px;
    position: absolute;
    overflow: hidden;
}
#girl bg{
    width: 300px;
}

.text{
    width: 100%;
    height: 25%;
    background: linear-gradient(to right , white,rgb(34, 149, 162), rgb(212, 89, 153), white);
    text-align: center;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.uplode-image{
    width: 90%;
    height: 85%;
    background-color: rgb(32, 40, 47);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    flex-direction: column;
    gap: 20px;
}

.inner-uplode-image{
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: aliceblue;
    font-size: 20px;
    background-color: rgb(25, 29, 33);
    border-radius: 10px;
    cursor: pointer;
}
.inner-uplode-image:hover{
  background-color: rgb(56, 66, 76);
  box-shadow: inset 2px 2px 2px black;
}
#input-image{
    width: 100%;
    height: 100%;
    display: none;
}
#uplode-btn{
    width: 40%;
    height: 12%;
    background: linear-gradient(to right , rgb(34, 149, 162), rgb(212, 89, 153));
    color: aliceblue;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: all, 0.3s;
}
#uplode-btn:hover{
    color: rgb(29, 30, 31);
    font-size: 18px;
    background: linear-gradient(to left , rgb(34, 149, 162), rgb(212, 89, 153));

}
.result{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    display: none;
    
}
.mainbox{
    width: 400px;
    position: relative;
    background-image: url("temp.jpeg");
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    
}
.resultImg1{
    width: 0px;
    animation: remove1 7s linear 1;
    overflow: hidden;
}
.resultImg2{
    width: 400px;
    position: absolute;
    top: 0;
}

.resultImg1 img{
    width: 400px;

}
.resultImg2 img{
    width: 400px;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#download{
    padding: 12px 20px;
      background: linear-gradient(to right , rgb(34, 149, 162), rgb(212, 89, 153));
    color: aliceblue;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}
#reset{
        padding: 12px 20px;
      background: linear-gradient(to right , rgb(34, 149, 162), rgb(212, 89, 153));
    color: aliceblue;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}
@keyframes remove{
    0%, 100%{
        width: 100%;
    }
    50%{
        width: 0%;
    }

}
@keyframes remove1 {
    0%{
        width: 400px;
    }
    100%{
        width: 0px;
    }

}

@media (max-width:430px){

    .mainbox{
    width: 250px;

    
}
.resultImg1{
    width: 0px;
    animation: remove2 8s linear 1;
    overflow: hidden;
}
.resultImg2{
     width: 250px;
}

.resultImg1 img{
    width: 250px;

}
.resultImg2 img{
      width: 250px;
}
.btns{
flex-direction: column;
gap: 12px;
}
}

@keyframes remove2 {
    0%{
        width: 250px;
    }
    100%{
        width: 0px;
    }

}